body {
    background-image: url("/images/ClassicHKMenuBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#chatDiv {
    position: absolute;
    top: 12em;
}

#toggleChat {
    position: absolute;
    top: 5em;
}

.hidden {
    display: none;
}

#endScreen {
    position: absolute;
    font-size: 64px;
    text-align: center;
    justify-content: center;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

#quitBtnDiv {
    margin-top: 10%;
}

#knightArea {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    bottom: 0px;
    height: 18em;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    border-top: 5px solid white;
}

#knightArea #info{
    flex: 0.12;
    min-width: 13em;
    display: flex;
    flex-wrap: wrap;
}

.coolText {
    font-weight: bold;
    text-shadow: 0 0 5px white;
    font-size: 28px;
    text-align: center;
}

.infoText{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    position: relative;
    top: 40%;
}

.healthText { text-shadow: 0 0 5px rgb(0,255,0); }
.mpText { text-shadow: 0 0 5px rgb(0,128,255); }
.deckText { text-shadow: 0 0 5px rgb(255,0,0); }
.heroPowerUnused { text-shadow: 0 0 3px rgb(255,255,0),  0 0 5px rgb(255,128,0); }
.turnIndicator { box-shadow: 0 0 20px rgb(0,255,0); }
.unusedCard { box-shadow: 0 0 5px rgb(0,255,0); }
.tauntCard { box-shadow: 0 0 5px rgb(255,0,0); }
.chargeCard { box-shadow: 0 0 5px rgb(255,128,0); }
.deathrattleCard { box-shadow: 0 0 5px rgb(0,0,255); }

#knightArea #health, #knightArea #MP {
    height: 7em;
    width:6em;
    margin-bottom: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#knightArea #health {
    background-image: url("/images/inGame/HpMask.png");
}

#knightArea #MP {
    background-image: url("/images/inGame/MPSoul.png");
}

.radianceInfo {
    font-size: 20px;
    margin: 0.2em;
}

#radianceInfoContainer {
    position: absolute;
    float: right;
    display: block;
    top: 0px;
    right: 0px;
}


#knightArea #deck {
    background-image: url("/images/inGame/cardBack.jpg");
    height: 18em;
    width:6em;
    margin-left: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#knightArea #hand {
    height: 100%;
    flex: 0.75;
    display: flex;
    flex-wrap: nowrap;
}

#knightArea #other {
    flex: 0.1;
    text-align: center;
}

#radianceArea {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    height: 8em;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

#radianceArea #radianceDeck {
    flex: 0.1;
    background-image: url("/images/inGame/cardBack.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#radianceArea #radianceHand {
    flex: 0.4;
    display: flex;
}

#radianceArea #radianceHealth {
    flex: 0.3;
    background-image: url("/images/inGame/Radiance.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24em;
    background-position-y: -4em;
}

#radianceArea #radianceHealth div {
    top: 60%;
}

#radianceArea #radianceMP {
    background-image: url("/images/inGame/RadianceMP.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0.5;
}

.radianceHandCard {
    height: 100%;
    min-width: 2em;
    background-image: url("/images/inGame/cardBack.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#playArea {
    height: 100%;
    width: 100%;
    display: block;
}

.board {
    display: flex;
}

#radianceBoard {
    min-height: 17em;

}

#knightBoard {
    position: relative;
    bottom: 0px;
}


.card {
    flex:1;
    font-size: 14px;
    padding: 1em;
    min-height: 17em;
    max-height: 17em;
    margin-right: auto;
    margin-left: auto;
    max-width: 7em;
    color: white;
    border: 1px solid white;
}

.cardHover {
    background-color:blue;
}

.cardNotHover {
    background-color: #2e376d85;
}

.cardSprite {
    border-bottom: 1px solid white;
    height: 6em;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menuBtn {
    margin: 0.5em;
    padding: 0.3em 0.5em;
}
