* {
    margin: 0;
    padding: 0;
    font-family: "Marcellus";
}

body {
    background: black;
}

input {
    color: black;
}

#content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}

#kingBrand {
    margin:auto;
    margin-top: 5em;
    background-image: url("/images/kingBrand.png");
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.form-input {
    text-align: center;
    padding-bottom: 32px;
}

.form-label {
    font-weight: bold;
    text-shadow: 0 0 5px white, 0 0 10px black;
    font-size: 24px;
    text-align: center;
    padding-bottom: 12px;
}

.menuBtn {
    background-color: transparent;
    padding:0.3em 1em;
    border:0.1px solid #FFFFFF;
    margin: 1em;
    border-radius: 3px;
    text-decoration:none;
    font-size: 24px;
    box-sizing: border-box;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.menuBtn:hover{
    color:#000000;
    background-color:#FFFFFF;
}

#volume {
    position: absolute;
    z-index: 1;
}