* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

input {
    color: black;
}

#content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}

#kingBrand {
    margin:auto;
    margin-top: 5em;
    background-image: url("/images/kingBrand.png");
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.form-input {
    text-align: center;
    padding-bottom: 32px;
}

.form-label {
    font-family: "Marcellus";
    font-weight: bold;
    text-shadow: 0 0 5px white, 0 0 10px black;
    font-size: 24px;
    text-align: center;
    padding-bottom: 12px;
}

#volume {
    position: absolute;
    z-index: 1;
}