* {
    color: white;
}

body {
    background-image: url("/images/Stag.gif");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

#lemm {
    position:absolute; 
    background-image: url("/images/lemm.png");
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 205px;
    left:25%;
}

#chatDiv {
    position:absolute;
    bottom:0px;
    left:25%;
}

.randText {
    position: absolute;
    font-size: 16px;
    text-shadow: 0 0 5px white, 0 0 10px black;
}