* {
    color: white;
}

body {
    background-image: url("/images/Stag.gif");
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
}

#chatDiv {
    position:absolute;
    bottom:0px;
    left:25%;
}

.randText {
    position: absolute;
    font-size: 18px;
    text-shadow: 0 0 5px black;
}

#menu {
    position: absolute;
    display: block;
    text-align: end;
    top: 25%;
    left: 80%;
}